/* This is where my css will live. It will call to the index.html page to style specific elements. */
display-4 {
    color: aquamarine;
}

i.fas,
  i.fab {
    border: 1px solid red;
  }

  body {
    /* background-image: url(); */
    background-color: #e4e4e4;
   }

   .card {
margin-bottom: 20px;

   }